@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET signalR Sohbete Hoşgeldiniz.</h1>
    <p class="lead">Sohbet</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="col-md-12" id="chatdiv">
    <input type="text" id="message" />
    <input type="button" id="sendmessage" value="Send" />
    <input type="hidden" id="displayname" />
</div>
<div class="col-md-12" id="logindiv">
    <input type="text" id="username" placeholder="username" />
    <input type="button" id="btnLogin" value="Login" />
</div>
<ul id="discussion"></ul>

@section scripts{
    <script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
    <script src="~/signalr/hubs"></script>

    <script>
        $(function () {

            //Girişte login butonu açık,mesaj butonu kapalı olarak geliyor.
            $("#logindiv").show();
            $("#chatdiv").hide();
            //Kullanıcı adı ile giriş yapıldığında username değişkenine atıyor.
            $("#btnLogin").click(function () {
                var username = $("#username").val();
                if (username == "") return;
                 $("#displayname").val(username);
            $("#logindiv").toggle();
            $("#chatdiv").toggle();
            });
            //SignalR bağlantısı oluşturuldu.
            var signalRHub = $.connection.chatHub;
            //SignalR done olduğunda sendmessage func calisiyor.
            $.connection.hub.start().done(function () {
                $("#sendmessage").click(function () {
                    //herkese gönder metodu burada cagriliyor.Aldığı parametreler username ve message.
                    signalRHub.server.herkeseGonder($("#displayname").val(), $("#message").val());
                });
            });
            //Client tarafındaki herkesegonder metodu.JavaScript camelCase.
            signalRHub.client.herkeseGonder = function (gonderen, mesaj, tarih) {
                 $("<li></li>").html("<strong>" + gonderen + "</strong>: " + mesaj + "<i>  " + tarih + "</i>")
                    .appendTo("#discussion");
            }
        });
    </script>
}